# Build directories
cmake-build-debug/
cmake-build-release/
build/
build-server/
clients/*/build/
deployment/build/

# IDE files
.idea/workspace.xml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Executables
MinimalRedis
*.exe

# Temporary files
*.tmp
*.swp
*.bak

# Database files
minimalredis.db